
html {
  font-size: 16px;
} 
/* base font size, change as needed, shouldn't Really need to */

body {
  margin: 0;
}

/* makes projects not collapse into like 250 px high with a scroll bar (gross) */
html, body {
  overflow-x: hidden;
  height: auto;
}

/* main setup of variables, colors, fonts, etc */
:root {
  --bg-main: #0d0c0e;
  --bg-accent: #1c1b1f;
  --text-main: #e9e4de;
  --text-muted: #cfc8c0;

  --border-outer: 5px;
  --border-container: 3px;
  --border-inner: 2px;
  
  --font-header: "Noserta Standard", serif;
  --font-subheader: "Abril Display", serif;
  --font-body: "basco-std", serif;
  --font-buttons: "basco-std", serif, font-weight: 700;
}

/* paragraphs are in the body font (basco) */
p {
  font-family: var(--font-body);
}

/* main is the element containing most of the elements, check any of the main pages to see. */
main {
  /* the width is the width. easy. takes up 100% of the screen. */
  width: 100%;
  margin: 0 auto;

  border: var(--border-container) solid var(--text-main);
  padding: 1rem;

  
  overflow: visible !important;
  height: auto !important;
  max-height: none !important;
  flex: none;
}
/* if the screen's width is wider than 900px (more than a phone basically) scale the main to 75% of screen. */
@media (min-width: 900px) {
  main {
    width: 100%;
  }
}

/* sets colors */
body {
  background: var(--bg-accent);
  color: var(--text-main);
  font-family: var(--font-body);
  overflow-x: hidden;
}


/* socials bar at footer, makes it stick to flexbox */
.socials {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.email {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  margin: 0;
  padding: 0
}

.copyright {
  gap: 0;
  margin: 0;
  white-space: nowrap;
}

/* main project container, sticks with main to scale on size */
.contentMain {
  /* border: var(--border-outer) solid var(--text-main); */
  padding: 0.75rem;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  overflow: visible !important;
  height: auto !important;
  max-height: none !important;
  background: var(--bg-main)
}

@media (min-width: 900px) {
  .contentMain {
    max-width: 90%;
    margin: .5rem auto;
    padding: .5rem;
  }
}
/* fairly obvious, lmk if you need this marked */
header h1 {
  font-family: var(--font-header);
  font-size: clamp(2rem, 6vw, 4rem);
}

header h2 {
  font-family: var(--font-subheader);
  font-size: clamp(1.2rem, 3vw, 2rem);
}


/* links in headerbar, padding is the distance between the link and the outside of the button */
.headerBar a {
  color: var(--text-main);
  text-decoration: none;
  /* border: var(--border-inner) solid transparent; */
  padding: 0.6rem 0.6rem;
  transition: all 0.2s ease;
  font-family: var(--font-buttons);
}

/* hover scripting */
.headerBar a:hover {
  border-color: var(--text-main);
  background-color: var(--bg-accent);
}

/* section marker, line seperator */
section {
  /* border: var(--border-container) solid var(--text-main); */
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  max-width: 100%;
}
@media (min-width: 900px) {
  section {
    padding: 1.5rem;
  }
}
/* General Classes */

/* Centered Text Class */
.centered {
  text-align: center;
}

/* Logo Image Class */
.logo {
  height: 64px;
  width: auto;
}

.logo.titleLogo {
  height: 48px
}

/* Gap Class */
.spacer {
  margin-bottom: 0.5rem;
}

/* Line Seperator Class */
.seperator {
  height: 4px;
  background: var(--text-main);
  margin: 1rem 0;
}

.fitImg {
  object-fit: contain;
  width: 100%;
}

.contentBox {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

.contentBox li {
  list-style: none;
  padding: 0.5rem;
  margin: 0;
  max-width: 50%;
}

/* Header Title Class */
.headerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  flex-wrap: wrap;
  
  gap: 0.5rem;
  padding: 0rem 0rem;
  margin: 0rem;
  
  list-style: none;
  /*border: 0.125rem solid green;*/
}
@media (min-width: 900px) {
  .headerTitle {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    text-align: left;
  }
}

.headerTitle li {
  padding: 0;
  margin: 0;
  /*border: 0.125rem solid purple;*/
}

.headerTitle h1 {
  font-size: 1rem;
  margin: .5rem;
}

.headerTitle h2 {
  font-size: 2rem;
  margin: 0;
  font-family: var(--font-subheader);
}

/* Header Bar Formatter Class */
.headerBar {
  display: flex;
  
  justify-content: center;
  gap: 1rem;
  
  flex-direction: row;
  flex-wrap: wrap;
  
  list-style: none;
}

/* Dropdown Formatter Class */
/* currently not used lmao */
.dropDown {
  display: flex;
  justify-content: flex-start;
  gap: 1;
  
  flex-direction: column;
  flex-wrap: wrap;
  
  list-style: square;
}

/* Navigation Link Class */
.navLinks {
  padding: 0.5rem;
  margin: 0;
  
  border: var(--border-container) solid var(--text-main);
  /*background-color: black; */
  /*border: 0.125rem solid green;*/
}

.navLinks li {
  
  border: none;
  padding: 0 0;
    /* background-color: black; */
}

.navLinks a {
  text-decoration: none;
  color: white;
  border: var(--border-container) solid var(--text-main);
  font-family: var(--font-subheader);
  font-size: 1.5rem
}

.navLinks a:hover {
  color: gray;
}

/* each project image goes in here! */
.card {
  line-height: 0;
  position: relative;
  overflow: hidden;
  min-width: 0px;
  max-width: 1000px;
  width: 100%;
  object-fit: cover;
  border: var(--border-container) solid var(--text-main);
  background: var(--bg-main);
  margin: 0;
  align-self: start;
  flex-grow: 1;
}

.card a {
  width: 100%;
}
.card.small {
  grid-column: span 1;
}
.card.medium {
  grid-column: span 2;
}
.card.large {
  grid-column: span 3;
}

/* evens things out on small screens */
@media (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
  }
  .card.small, .card.medium, .card.large {
    grid-column: span 1;
  }
}

.container {
  padding: 2px 16px;
}

/* big projects div, all the cards/projects go in here! */
#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: start;
  overflow: visible !important;
  height: auto !important;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}


/* #project {
  border: var(--border-container) solid var(--text-main); */
  /* padding: 2rem;
} */

/* project name on project page */
#project h1 {
  font-family: var(--font-header);
  font-size: 3rem;
}

/* date on project page */
.date {
  font-family: var(--font-subheader);
  color: var(--text-muted);
}

/* thumbnail for projects div, each card has a thumbnail */
.thumbnail {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  grid-column: 1 / -1;
  transition: transform 0.3s ease;
}
@media (max-width: 600px) {
  .thumbnail {
    height: 300px;
  }
}

/* for project page */
.thumb {
  width:100%;
  height: auto;
  display: block;
}

/* magic things. */
/* this is what shows up when you hover a project image */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.85), rgba(0,0,0,0.2));
  
  /* color: white; */

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;

  opacity: 0;
  transition: opacity 0.3s ease;
}

/* text that shows up on overlay */
.overlayText {
  padding: 1rem;
  color: white;

  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
  font-family: var(--font-body);
}

.overlayText h3 {
  font-family: var(--font-subheader);
  margin-bottom: 0.3rem;
}

/* on hover: make appear */
.card:hover .overlay {
  opacity: 1;
}

.card:hover .overlayText{
  opacity: 1;
  transform: translateY(0);
}

/* flashy zoom and dim */
.card:hover .thumbnail {
  transform: scale(1.05);
  filter: brightness(0.8);
}

/* main project image div on project page */
.mainMedia {
  border: var(--border-inner) solid var(--text-main);
  margin: 0;
  padding: 0.5rem;
}

/* spotlight image/video or whatever */
.mainMedia img, 
.mainMedia video {
  width: 100%;
  height: auto;
  max-height: 100vh;
  display:block;
  object-fit: contain;
}

/* gallery and previs are the divs holding populated images */
.gallery, .previs {
  column-count: 2;
  column-gap: 1rem;
  /* display: grid;
  grid-template-columns: repeat(2,1fr); */
  column-fill: balance;
  gap: 1rem;
  margin-top: 1rem;
}

/* the images! they fit in twooooo columns  */
.gallery img,
.gallery video,
.previs img,
.previs video {
  width: 100%;
  height:auto;
  display:block;
  break-inside: avoid;
  object-fit: cover;
  border: var(--border-inner) solid var(--text-main);
}

/* everything in gallery and previs has a lower margin but that's it, this lets them fit against each other. */
/* REMEMBER THAT SHITTY PROBLEM WITH GAPS? THIS SOLVES IT. DON"T TOUCH IT */
.gallery > *,
.previs > * {
  margin: 0 0 1rem 0;
}

@media (max-width: 600px) {
  .gallery, .previs {
    column-count: 1;
  }
}

.galleryItem, 
.previs .galleryItem {
  position: relative;
  overflow: hidden;
  break-inside: avoid;
  margin-bottom: 1rem;
}
.galleryItem img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Magic shit don't touch. mostly the same with project overlay. this is not JUST gallery overlay, it's also previs */
.galleryOverlay {
  position: absolute;
  inset: 0;
  background: transparent;


  pointer-events: none;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.galleryText {
  padding: 0.75rem;
  color: var(--text-main);
  font-family: var(--font-body);

  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;

  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.galleryText:empty {
  display: none;
}

.galleryItem:hover img {
  transform: scale(1.05);
}
/* AS LONG AS THE ITEM HAS ALT TEXT dim the image to see text */
.galleryItem:has(.galleryText:not(:empty)):hover img {
  filter: brightness(0.8);
}

.galleryItem:hover .galleryOverlay {
  opacity: 1;
}

.galleryItem:hover .galleryText {
  opacity: 1;
  transform: translateY(0);
}

.process {
  margin-top: 2rem;
  border-top: var(--border-container) solid var(--text-main);
  padding-top: 1rem;
}


/* makes header sit evenly, icon > logo > header */
/* iif small screen stack them */
.headerBar {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  gap: 0.5rem
}
.headerBar li {
  flex:1 1 50%;
  display: flex;
}
/* if larger screen make it one row */
@media (min-width: 600px) {
  .headerBar li {
    flex:1;
  }
}
.headerBar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: var(--text-main);
  text-decoration: none;

  border: var(--border-inner) solid var(--text-main);
  background: var(--bg-main);

  transition: all 0.2s ease;
}
.headerBar a:hover {
  border-color: var(--text-main);
  background: rgba(255, 255, 255, 0.05);
}


.footerContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0 .5rem;
  gap: 0;
  
  font-family: var(--font-buttons);
  font-size: 1.2rem;
  color: var(--text-main)
}

.footerContent li {
  list-style: none;
  margin: 0.25rem 0;
}

@media (max-width: 800px) {
  .footerContent {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
}

.projectHeader {
  display: flex;
  justify-content: space-between;
}

.projectHeader h2 {
  font-family: var(--font-subheader);
}

.projectHeader .title {
  color: var(--text-muted);
  align-self: flex-end;
  text-align: left;
  flex: 1;
}

.projectHeader .date {
  color: var(--text-muted);
  align-self: flex-end;
  text-align: right;
  flex: 1;
}

*, *::before,
 *::after {
   box-sizing: border-box;
 }

 /* DONT TOUCH THIS. */
 #lightbox {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background: rgba(0,0,0,0.8);
  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1000;
  cursor: zoom-out;
 }

 #lightbox img {
   max-width: 90%;
   max-height: 90%;
   object-fit: contain;
 }

 /* makes cursor the little magnifying glass <3 cute */
 .thumb, 
 .mainMedia img, 
 .galleryItem img {
  cursor: zoom-in;
 }

 .shaderCanvas {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

 .canvasContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0rem auto;
  aspect-ratio: 16/9;
  border: var(--border-inner) solid var(--text-main);
  overflow: hidden;
}