<footer class="itemMain">
  
    <p style="align-items: start;">
      © 2026 Charlie Blaker
    </p>
    <p>
      charlie3blaker@gmail.com
    </p>
    <ul style="align-items: end; list-style: none;">
      <li style="display:inline;"><a href="https://github.com"><img src="/_branding/github-icon.jpg" alt="GitHub" width="32" height="32"></a></li>
      <li style="display:inline;"><a href="https://www.linkedin.com/"><img src="/_branding/linkedin-icon-logo-png-transparent.png" alt="LinkedIn" width="32" height="32"></a></li>
      <li style="display:inline;"><a href="https://www.artstation.com/"><img src="/_branding/5968654.png" alt="ArtStation" width="32" height="32"></a></li>
    </ul>

    
</footer>