<footer>
  <div class="seperator"></div>
    <ul class="footerContent">
    <li>
      <p class="copyright">© 2026 Charlie Blaker</p>
    </li>
    <li>
      <ul class="email">
        <li style="display:inline;"></li><img src="_branding/EmailIcon.svg" alt="Email" width="24" height="32"></li>
        <li>charlie3blaker@gmail.com</li>
        </div>
      </ul>
    </li>
    <li>
      <ul class="socials">
        <li><a href="https://www.shadertoy.com/user/personpac"><img src="_branding/Logos/ShadertoyLogo.svg" alt="ShaderToy" width="96" height="32"></a></li>
        <li><a href="https://github.com/CCBlaker"><img src="_branding/Logos/GithubLogo.svg" alt="GitHub" width="32" height="32"></a></li>
        <li><a href="https://www.linkedin.com/in/ccblaker"><img src="_branding/Logos/LinkedinLogo.svg" alt="LinkedIn" width="32" height="32"></a></li>
        <li><a href="https://ccblaker.artstation.com/"><img src="_branding/Logos/ArtstationLogo.svg" alt="ArtStation" width="32" height="32"></a></li>
        <!-- <li style="display:inline;"><a href="https://www.youtube.com/@Personpac"><img src="/_branding/Logos/YoutubeLogo.svg" alt="Youtube" width="32" height="32"></a></li> -->
        <!-- <li style="display:inline;"><a href="https://x.com/ccblaker"><img src="/_branding/Logos/TwitterLogo.svg" alt="Twitter" width="32" height="32"></a></li> -->
      </ul>
    </li>
  </ul>

</footer>